#recording-control-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    flex-wrap: wrap;
}


#button-panel{
    margin-left: 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}

.function-button{
    width: 5em;
    height: 5em;
    margin: 3px;
    background-color: #484848;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.function-button img{
    width: 3em;
    height: 3em;
}

.sound-wave{
    border-radius: 8px;
    margin-right: 3px;
    width: 200px;
    height: 4em;
}

.sound-wave-active{
    box-shadow: 0px 0px 20px -2px rgb(196, 0, 0);
    border-radius: 8px;
    margin-right: 3px;
    width: 200px;
    height: 4em;
}

#sound-export{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-top: 1em;
    margin-right: 1em;
}

#recording-pane{
    border: #484848 2px solid;
    background-color: #484848;
    margin:1em;
    height: auto;
    min-height: 55em;
}

#time-stamp{
    color: white;
    font-size: 2em;
    font-family: sans-serif;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
}

#time-stamp-label{
    color: #858585;
    font-size: 1em;
    margin: 0;
    padding-left: 2em;
    padding-top: 0.5em;
    font-family: sans-serif;
}

#version-control-panel{
    margin-right: 1em;
    margin-top: 0.25m;
    display: flex;
    flex-direction: row;
    
}

.vc-buttons{
    width: 4em;
    height: 3em;
    background-color: #484848;
    border: none;
    border-radius: 8px;
    margin: 3px;
    cursor: pointer;
}

.vc-disabled{
    width: 4em;
    height: 3em;
    background-color: #484848;
    border: none;
    border-radius: 8px;
    margin: 3px;
    filter: brightness(50%);
}

.vc-disabled img{
    filter: brightness(50%);
}

#import-but{
    display: none;
    
}